.layout-sm
  .doc-content.layout-padding(flex="100")
    div(layout-gt-xs="row")
      h2.md-display-1
        | {{intro.titulo}}
      span(flex="")
      md-button.md-fab
        md-icon(md-font-library="material-icons")
          | edit
    h4
      | {{intro.facultad}}
     h4
      | {{intro.universidad}}     
    span
      p 
        | {{intro.resumen}}
    span
      p
        | {{intro.frase}}

