.layout-sm
  .md-content.layout-padding(flex="90")
    div(layout-gt-xs="row")
      h2.md-display-1
        | Material
      span(flex="")
      md-button.md-fab(ng-click="editMode=!editMode")
        md-icon(md-font-library="material-icons")
          | edit
    md-list(flex=100)
      md-subheader.md-no-sticky 
        | General
      md-list-item.md-2-line.secondary-button-padding(ng-repeat="item in materiales"  ng-click="navigateTo()")
        md-icon(md-font-library="material-icons")
          | attachment
        .md-list-item-text(layout="column") 
          h3
            | {{ item.titulo }}
          p
            | {{ item.categoria }}
        md-button.md-fab.md-mini(ng-click="delBiblio($index)", ng-show="editMode")
          md-icon(md-font-library="material-icons")
            | remove
        md-button.md-fab.md-mini(ng-click="editBiblio($index)", ng-show="editMode")
          md-icon(md-font-library="material-icons")
            | edit
    md-button.md-fab.md-mini(ng-click="addBiblio(header)", ng-show="editMode")
      md-icon(md-font-library="material-icons")
        | add
