doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    base(href='/')
    title Materia(l)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.layouts.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css")    
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  body(layout='row')
    block body